{% extends "main.html" %}
{% block content %}
<div class="content_wrapper">
    <div class="content_block">
        <h1><span>about our experiences</span></h1>

        <div class="contentarea">
            <div class="row">
                <div class="span_full">
                    <img src="img/pictures/pic_about.jpg" class="full_width">
                </div>
                <div class="clear"><!-- ClearFix --></div>
                <div class="span2-3">
                    <h3><span>who i am?</span></h3>
                    <p><strong>Duis ac sem dui. Vestibulum id ante felis.</strong> Morbi eget sapien sem, iaculisеs tes et molestie ut, dolor venenatis sed nullat. Nullam a tellus nec sapien dolro dolor elementum laoreet vitae consequat tellus mases Quisque sagittis pretium leo, id lorem interdum turpis molestie quis.</p>
                    <p><strong>Maecenas aliquame tortor quis elitast luctus.</strong> Morbi nib turpis, cursus ac vehicula ut, dignissim eu eros. Ut quis dolor lectus. Integer vitae nisl ligula eget Maecenas nec nunc nisl, et vestibulum quam. Integer imperdiet felis. Lorem ipsum dolor sit amet egestas mauris ridiculus donec aliquam. Sed dapibus ornare egets. sagittis. Class aptent taciti sociosqu ad litora. Donec gravida turpis sed velit enim. Aliquam id nuc nec fels es. Sed dapibus ornare egets. sagittis. Class aptent taciti sociosqu placerat lacinia. Posuere eget malesuada orci viverra.  Curabitur sed imperdiet neque magnat aliquam.</p>
                </div>
                <div class="span1-3">
                    <h3><span>my skills</span></h3>
                    <ul class="skills_list">
                        <li>Lorem ipsum <strong>89%</strong><div style="width:89%"></div></li>
                        <li>Vestibulum eget <strong>100%</strong><div style="width:100%"></div></li>
                        <li>Dolor sit amet <strong>92%</strong><div style="width:92%"></div></li>
                        <li>Eget mauris mas <strong>65%</strong><div style="width:65%"></div></li>
                    </ul>
                </div>
                <div class="clear"><!-- ClearFix --></div>

            </div><!-- .row -->
        </div>
    </div><!-- .content_block -->
</div>
{% endblock %}