{% extends "main.html" %}
{% block content %}
<!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="content_block no-sidebar">
            <h1><span>{{ experience.title }}</span></h1>
            <div class="fl-container">
                <div class="posts-block">

                    <div class="row">
                        <div class="span_full">
                            <div class="blog_post_preview">

                                <div class="blog_info">
                                    <span class="blog_posttype blog_slider"></span>
                                    <span class="date">{{ experience.postDate }}<br></span>
                                    <span class="author_name"><br><strong>Posted by:</strong> <a href="#">{{ experience.owner }}</a></span>
                                    <span class="blog_tags"><strong>Tags:</strong> <a href="#" rel="tag">{{ experience.tags }}</a></span>
                                    <span class="comments"><strong>Comments:</strong> <a href="blogpost_full.html#comments">{{ comments|length }}</a></span>

                                    <div class="like_icons">
                                        <a href="#" class="like_facebook"></a>
                                        <a href="#" class="like_p"></a>
                                        <a href="#" class="like_tweet"></a>
                                    </div>
                                </div><!-- .blog_info -->
                                <div class="blog_post_text">
                                    <article class="contentarea">
                                        {{ experience.description }}
                                    </article>
                                </div><!-- .blog_post_text -->
                                <div class="featured_image_full">
                                    <iframe width="100%" height="" src="http://www.youtube.com/embed/G_GBwuYuOOs" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="clear"></div>
                            </div><!-- .blog_post_preview -->

                            <h3 class="postcomment">{{ comments|length }} comments<a name="comments"></a></h3>

                        {% for comment in comments %}
                            <ol class="commentlist">
                                <li class="comment">
                                    <div class="stand_comment">
                                        <div class="commentava">
                                            <img src="img/avatars/avatar2.jpg" alt="">
                                        </div>
                                        <div class="thiscommentbody">
                                            <div class="comment_info">
                                                <span class="author_name"><a href="#">{{ comment.owner }}</a></span>|
                                                <span class="date">{{ comment.date }}</span>|
                                                <span class="comments"><a href="#">Reply</a></span>
                                            </div>
                                            {{ comment.text }}
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="stand_comment">
                                                <div class="commentava">
                                                    <img src="img/avatars/avatar1.jpg" alt="">
                                                </div>
                                                <div class="thiscommentbody">
                                                    <div class="comment_info">
                                                        <span class="author_name"><a href="#">Anna Smith</a></span>|
                                                        <span class="date">22 apr 2019</span>|
                                                        <span class="comments"><a href="#">Reply</a></span>
                                                    </div>
                                                    <p>Sapien nisi, tempus vel fermentum non esteros tincidunt id dolor. Cras feugiat diam eget augue pellentesque net lapidus. suscipit nisi consectetur. </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                         {% endfor %}
                            <!-- .commentlist -->

                            <h3 class="postcomment">leave a comment!</h3>
                            <div class="contact_inputs">
                                <form name="comment-form" method="post" action="" class="comment-form">
                                    <p>All fields marked with an asterisk* are required.</p>
                                    <input type="text" value="Name*" title="Name*" id="author" name="author" class="form_field">
                                    <input type="text" value="Email*" title="Email*" id="email" name="email" class="form_field">
                                    <input type="text" value="Web" title="Web" id="web" name="web" class="form_field">
                                    <textarea name="comment-message" cols="45" rows="5" title="Message..." id="comment-message" class="form_field">Message...</textarea>
                                    <input type="reset" name="reset" id="reset" value="Clear form" class="comment_reset">
                                    <input type="button" name="submit" class="send_comment" id="submit" value="Send comment">
                                </form>
                            </div>

                        </div>
                    </div><!--.row -->
                </div>
            <div class="left-sidebar-block">
                <!-- Left Sidebar Text -->
            </div><!-- .left-sidebar -->
            <div class="clear"><!-- ClearFix --></div>
        </div><!-- .fl-container -->
        <div class="right-sidebar-block">
        </div><!-- .right-sidebar -->
        <div class="clear"><!-- ClearFix --></div>
    </div>
</div>
<!-- F O O T E R -->
{% endblock %}