{% extends "main.html" %}
{% block content %}
<!-- C O N T E N T -->
<div class="content_wrapper">
<div class="masonry_blog_block">
<div class="masonry_blog">

{% for blogItem in blogItems %}

    {% ifequal blogItem.type "typeA" %}

        <div class="blog_item">
            <div class="preview_wrapper">
                <div class="featured_image_full">
                    <img src="{{STATIC_URL}}{{ blogItem.image }}" alt="">
                    <div class="featured_image_wrapper"></div>
                    <a href="{{STATIC_URL}}{{ blogItem.image }}" class="ico_zoom prettyPhoto"><span></span></a>
                </div>
                <div class="blog_info">
                    {{ blogItem.postDate }}
                </div>
                <hr class="masonry_blog_seperator">

                <div class="blogpost_title"><span class="blog_posttype blog_image"></span><a href="experience/{{ blogItem.id }}" class="mainTitlePermalink">
                    <h3>{{ blogItem.title }}</h3></a></div>

                <article class="contentarea">
                    <p>{{ blogItem.text }}<a href="experience/{{ blogItem.id }}">  Read more ...</a></p>
                </article>

                <hr class="masonry_blog_seperator">
                <div class="post_bottom">
                    <div class="comments">{{ blogItem.numberOfComments }} comments <span>|</span><a href="#">View all</a></div>
                    <div class="share">
                        <span>Share on</span><a href="#" class="share_twitter share_icon"></a><a href="#" class="share_pinterest share_icon"></a><a href="#" class="share_facebook share_icon"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- .blog_item -->

    {% endifequal %}

    {% ifequal blogItem.type "typeB" %}

        <div class="blog_item">
            <div class="preview_wrapper">
                <div class="blog_info">
                    {{ blogItem.postDate }}
                </div>
                <hr class="masonry_blog_seperator">
                <div class="blogpost_title"><span class="blog_posttype blog_text"></span><a href="experience/{{ blogItem.id }}" class="mainTitlePermalink">
                    <h3>{{ blogItem.title }}</h3></a></div>
                <article class="contentarea">
                    <p>{{ blogItem.text }}<a href="#">Read more...</a></p>
                </article>
                <hr class="masonry_blog_seperator">
                <div class="post_bottom">
                    <div class="comments">{{ blogItem.numberOfComments }} comments <span>|</span></div>
                    <div class="share">
                        <span>Share on</span><a href="#" class="share_twitter share_icon"></a><a href="#" class="share_pinterest share_icon"></a><a href="#" class="share_facebook share_icon"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- .blog_item -->

    {% endifequal %}

    {% ifequal blogItem.type "typeC" %}

        <div class="blog_item">
            <div class="preview_wrapper">
                <div class="featured_image_full">
                    <iframe width="100%" height="190" frameborder="0" class="video_frame" allowfullscreen=""
                            src="{{ blogItem.video }}"></iframe>
                </div>
                <div class="blog_info">
                    {{ blogItem.postDate }}
                </div>
                <hr class="masonry_blog_seperator">
                <div class="blogpost_title"><span class="blog_posttype blog_video"></span><a href="experience/{{ blogItem.id }}" class="mainTitlePermalink">
                    <h3>{{ blogItem.title }}</h3></a></div>
                <article class="contentarea">
                    <p>{{ blogItem.text }} <a href="#">Read more...</a></p>
                </article>
                <hr class="masonry_blog_seperator">
                <div class="post_bottom">
                    <div class="comments">{{ blogItem.numberOfComments }}  comments <span>|</span> </div>
                    <div class="share">
                        <span>Share on</span><a href="#" class="share_twitter share_icon"></a><a href="#" class="share_pinterest share_icon"></a><a href="#" class="share_facebook share_icon"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- .blog_item -->
    {% endifequal %}

{% endfor %}

    <div class="clear"><!-- ClearFix --></div>
</div>
</div><!-- .masonry_blog_block -->
<script type="text/javascript">
    $(window).load(function(){
        setTimeout("masonry_blog()",500);
    });
    $(window).resize(function(){
        masonry_blog();
    });
    function masonry_blog() {
        blog_itemInRow = 5;
        if ($(window).width() > 0) blog_itemInRow = 1;
        if ($(window).width() > 600) blog_itemInRow = 2;
        if ($(window).width() > 875) blog_itemInRow = 3;
        if ($(window).width() > 1200) blog_itemInRow = 4;
        if ($(window).width() > 1440) blog_itemInRow = 5;
        column_size = Math.floor((($(window).width()-5)/blog_itemInRow));
        $('.masonry_blog').find('.blog_item').width(column_size);
        $('.masonry_blog').find('.jp-progress').width(column_size-180);
        setTimeout("$('.masonry_blog').masonry({itemSelector: '.blog_item', columnWidth: column_size})",500);
    }
</script>
</div>
<!-- F O O T E R -->
{% endblock %}