{% extends "main.html" %}

{% block menu %}
    {% include "securemenu.html" %}
{% endblock %}

{% block content %}

<!-- C O N T E N T -->
<div class="content_wrapper">
    <h1><span>I am real person not a anonymous user  </span></h1>
    <br>
    <h1><span>I am alive ! hell yeah I am</span></h1>
    <br>
    <h1><span>I will login by facebook </span></h1>
    <br>
    <a href="{% url "socialauth_begin" 'facebook' %}" class="shortcode_button btn_large btn_type7">Login via Facebook</a>
</div>

{% endblock %}

{% block footer %}
    {% include "securefooter.html" %}
{% endblock %}

