{% extends "main.html" %}
{% block content %}
<!-- C O N T E N T -->
<div class="content_wrapper" xmlns="http://www.w3.org/1999/html">
<div class="masonry_blog_block">
<div class="masonry_blog">

{% for blogItem in blogItems %}

    {% ifequal blogItem.type "typeA" %}

        <div class="blog_item">
            <div class="preview_wrapper">
                <a href="experience/remove/{{ blogItem.id }}"> <p>Remove me!</p></a>
                <div class="featured_image_full">
                    <img src="{{STATIC_URL}}{{ blogItem.image }}" alt="">
                    <div class="featured_image_wrapper"></div>
                    <a href="{{STATIC_URL}}{{ blogItem.image }}" class="ico_zoom prettyPhoto"><span></span></a>
                </div>
                <div class="blog_info">
                   {{ blogItem.posted_by }} on {{ blogItem.postDate }}
                </div>
                <hr class="masonry_blog_seperator">

                <div class="blogpost_title"><span class="blog_posttype blog_image"></span><a href="experience/{{ blogItem.id }}" class="mainTitlePermalink">
                    <h3>{{ blogItem.title }}</h3></a></div>

                <article class="contentarea">
                    <a href="experience/{{ blogItem.id }}"> <p>{{ blogItem.text }} ...</p></a>
                </article>

                <hr class="masonry_blog_seperator">
                <div class="post_bottom">
                    {% if blogItem.image_count > 1 %}
                        <div class="comments"><a href="experience/{{ blogItem.id }}"> <strong>{{ blogItem.image_count }} More images</strong></a>   Ranked as<a href="experience/{{ blogItem.id }}"> <strong>{{ blogItem.vote }}</strong></a></div>
                    {% else %}
                        <div class="comments"><a href="experience/{{ blogItem.id }}"> <strong>1 image</strong></a>   Ranked as<a href="experience/{{ blogItem.id }}"> <strong>{{ blogItem.vote }}</strong></a></div>
                    {% endif %}

                    <div class="share">
                        <span>Share on</span><a href="https://www.facebook.com/sharer/sharer.php?u=http://experience.com:8080/experience/{{ blogItem.id }}" class="share_facebook share_icon"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- .blog_item -->

    {% endifequal %}

    {% ifequal blogItem.type "typeB" %}

        <div class="blog_item">
            <div class="preview_wrapper">
                <div class="blog_info">
                    Posted by {{ blogItem.posted_by }} on {{ blogItem.postDate }}
                </div>
                <hr class="masonry_blog_seperator">
                <div class="blogpost_title"><span class="blog_posttype blog_text"></span><a href="experience/{{ blogItem.id }}" class="mainTitlePermalink">
                    <h3>{{ blogItem.title }}</h3></a></div>
                <article class="contentarea">
                    <a href="experience/{{ blogItem.id }}"> <p>{{ blogItem.text }} ...</p></a>
                </article>
                <hr class="masonry_blog_seperator">
                <div class="post_bottom">
                    <div class="comments">Ranked as<a href="experience/{{ blogItem.id }}"> <strong>{{ blogItem.vote }}</strong></a></div>
                    <div class="share">
                        <span>Share on</span><a href="https://www.facebook.com/sharer/sharer.php?u=http://experience.com:8080/experience/{{ blogItem.id }}" class="share_facebook share_icon"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div><!-- .blog_item -->

    {% endifequal %}

{% endfor %}

    <div class="clear"><!-- ClearFix --></div>
</div>
</div><!-- .masonry_blog_block -->
<script type="text/javascript">
    $(window).load(function(){
        setTimeout("masonry_blog()",500);
    });
    $(window).resize(function(){
        masonry_blog();
    });
    function masonry_blog() {
        blog_itemInRow = 5;
        if ($(window).width() > 0) blog_itemInRow = 1;
        if ($(window).width() > 600) blog_itemInRow = 2;
        if ($(window).width() > 875) blog_itemInRow = 3;
        if ($(window).width() > 1200) blog_itemInRow = 4;
        if ($(window).width() > 1440) blog_itemInRow = 5;
        column_size = Math.floor((($(window).width()-5)/blog_itemInRow));
        $('.masonry_blog').find('.blog_item').width(column_size);
        $('.masonry_blog').find('.jp-progress').width(column_size-180);
        setTimeout("$('.masonry_blog').masonry({itemSelector: '.blog_item', columnWidth: column_size})",500);
    }
</script>
</div>
<!-- F O O T E R -->
{% endblock %}