{% extends "main.html" %}
{% block content %}
    <!-- C O N T E N T -->
    <div class="content_wrapper">
        <div class="content_block">
            <h1><span>Once Upon a time</span></h1>

            <div class="contentarea">
                <div class="row">
                    <form class="form-horizontal" action="/share" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset>
                            <!-- Form Name -->
                            <legend></legend>
                            <!-- Text input-->
                            <div class="row">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="title">Title</label>

                                        <div class="controls">
                                            <input id="title" name="title" type="text"
                                                   placeholder="The Curious Case of Benjamin Button"
                                                   class="input-xlarge">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="where">Where</label>

                                        <div class="controls">
                                            <input id="where" name="where" type="text"
                                                   placeholder="Somewhere over the rainbow"
                                                   class="input-xlarge">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="when">When</label>
                                        <div id="datex"  class="controls date">
                                            <input id="when" name="when"  type="text" class="input-xlarge"><span class="add-on"></span>
                                        </div>
                                        <script type="text/javascript">
                                            $('#datex').datepicker({
                                                autoclose: true,
                                                todayHighlight: true
                                            });
                                        </script>
                                    </div>

                                </div>
                                <div class="span6">
                                    <div class="row">
                                        <div class="span2">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">

                                                <div class="fileupload-new thumbnail"
                                                     style="width: 100px; height: 75px;"><img
                                                        src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                     style="max-width: 100px; max-height: 75px; line-height: 20px;"></div>
                                                <div>
                                                    <span class="btn btn-file"><span
                                                            class="fileupload-new">Select image</span><span
                                                            class="fileupload-exists">Change</span><input type="file" id="file1" name="file1"/></span>
                                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">X</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail"
                                                     style="width: 100px; height: 75px;"><img
                                                        src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                     style="max-width: 100px; max-height: 75px; line-height: 20px;"></div>
                                                <div>
                                                    <span class="btn btn-file"><span
                                                            class="fileupload-new">Select image</span><span
                                                            class="fileupload-exists">Change</span><input type="file" id="file2" name="file2"/></span>
                                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">X</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span2">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail"
                                                     style="width: 100px; height: 75px;"><img
                                                        src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image"/>
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail"
                                                     style="max-width: 100px; max-height: 75px; line-height: 20px;"></div>
                                                <div>
                                                    <span class="btn btn-file"><span
                                                            class="fileupload-new">Select image</span><span
                                                            class="fileupload-exists">Change</span><input type="file" id="file3" name="file3"/></span>
                                                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">X</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span5">
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="withwhom">Whit Whom</label>

                                        <div class="controls">
                                            <input id="withwhom" name="withwhom" type="text"
                                                   placeholder="Rambo,She-Ra,Arya Stark"
                                                   class="input-xlarge">
                                        </div>
                                    </div>

                                </div>


                            </div>


                            <!-- Multiple Radios (inline) -->
                            <div class="control-group">
                                <label class="control-label" for="radios">How great was it</label>

                                <div class="controls">
                                    <label class="radio inline" for="radios-0">
                                        <input type="radio" name="radios" id="radios-0" value="1">
                                        1
                                    </label>
                                    <label class="radio inline" for="radios-1">
                                        <input type="radio" name="radios" id="radios-1" value="2">
                                        2
                                    </label>
                                    <label class="radio inline" for="radios-2">
                                        <input type="radio" name="radios" id="radios-2" value="3">
                                        3
                                    </label>
                                    <label class="radio inline" for="radios-3">
                                        <input type="radio" name="radios" id="radios-3" value="4">
                                        4
                                    </label>
                                    <label class="radio inline" for="radios-4">
                                        <input type="radio" name="radios" id="radios-4" value="5">
                                        5
                                    </label>
                                    <label class="radio inline" for="radios-5">
                                        <input type="radio" name="radios" id="radios-5" value="6">
                                        6
                                    </label>
                                    <label class="radio inline" for="radios-6">
                                        <input type="radio" name="radios" id="radios-6" value="7" checked="true">
                                        7
                                    </label>
                                </div>
                            </div>



                            <!-- Textarea -->
                            <div class="control-group">
                                <label class="control-label" for="description">What did yo do</label>

                                <div class="controls">
                                    <textarea id="description" name="description"
                                              placeholder="You cannot believe it..." class="input-xlarge"></textarea>
                                </div>
                            </div>

                            <legend></legend>
                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="save">Share</label>

                                <div class="controls">
                                    <button id="save" name="save" class="btn btn-primary">Go!!!</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>


                    <div class="clear"><!-- ClearFix --></div>

                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- .content_block -->
    </div>

    <!-- F O O T E R -->
{% endblock %}
